<div class="row">
  <div class="col-12">
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" [routerLink]="'/'">Каталог товаров</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  routerLinkActive="active"
                  [routerLink]="'/'"
                  [routerLinkActiveOptions]="{ exact: true }"
                  >Главная
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLink]="'/products'"
                  [routerLinkActive]="'active'"
                  >Список товаров
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </div>
</div>
