<div class="row">
  <div class="col-12">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, deleniti,
    maiores magnam ipsum voluptatum quis vel maxime impedit, provident minima
    blanditiis nesciunt repellat ad. Voluptate nesciunt iusto error doloribus
    distinctio in odit nemo itaque animi esse cupiditate optio fugit quae, ipsa
    sunt aut, ab voluptates! Libero ullam tempore laborum molestiae
    necessitatibus illum quod? Necessitatibus vel beatae aut saepe quasi qui
    ipsam, possimus, debitis magnam tempora eveniet esse nisi architecto sed
    quia corporis neque. Reiciendis laboriosam dicta esse iusto tempore
    delectus, consequuntur minima a, in eius voluptates expedita culpa maxime
    qui. Alias quisquam voluptatum hic! Vel exercitationem laboriosam molestias
    nemo autem repellat nesciunt possimus doloremque ullam quos inventore eaque,
    quia, minima obcaecati provident, illo veniam fuga odio voluptatibus fugiat!
    Facilis, ab saepe rem deleniti, laborum eos modi consequatur veritatis
    deserunt corrupti debitis alias voluptatum tenetur ipsum sed. Id aliquam
    quibusdam, obcaecati fugiat soluta aperiam optio voluptatem nemo dolor.
    Deserunt eius, expedita sunt iste alias accusantium esse blanditiis illo
    animi. Porro iusto officiis consectetur. Temporibus illum quam iusto nihil!
    Voluptates, sint. Nostrum, excepturi magni deserunt et molestiae corrupti
    quasi doloribus assumenda aspernatur non obcaecati quas in sequi aut tenetur
    sunt eaque iure odit, beatae eius! Quis obcaecati est quibusdam hic ratione
    deserunt qui! Magnam consequatur, enim facere alias fuga ad. Incidunt
    aspernatur non facere perspiciatis inventore esse atque reiciendis debitis
    illum quo quam est molestias, expedita veniam necessitatibus quis quae nihil
    dicta sed obcaecati architecto nulla, quisquam molestiae. Atque neque
    deserunt molestias blanditiis cum enim, reiciendis nostrum quam qui.
    Possimus, perferendis accusantium facere vel laboriosam soluta eveniet
    corrupti non, quod praesentium dolorum aliquid sequi reprehenderit ratione
    incidunt. Ipsum unde nihil facilis reiciendis a iusto soluta optio corporis
    facere cumque tempore distinctio error modi, aspernatur esse doloremque sit
    totam rem placeat at quo in reprehenderit animi. Aperiam dolorem quibusdam
    sit commodi, hic nulla!
  </div>
</div>
