<ng-container>
  <div class="row ml-5">
    <select
      class="custom-select custom-select-sm col-2 form-control mb-3 ml-3 mt-2"
      id="category"
      [(ngModel)]="selectCategory"
    >
      <option [value]="type.Furniture">Мебель</option>
      <option [value]="type.Technic">Техника</option>
      <option [value]="type.Books">Книги</option>
      <option [value]="type.Phones">Телефоны</option>
      <option [value]="5">Все</option>
    </select>
    <div class="custom-control mt-3 ml-4 custom-checkbox">
      <input
        [(ngModel)]="isAvailable"
        type="checkbox"
        class="custom-control-input"
        id="customCheck1"
      />
      <label class="custom-control-label" for="customCheck1"> В наличии </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="editFormGroup">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">Название</th>
              <th scope="col">Категория</th>
              <th scope="col">Вес</th>
              <th scope="col">
                Цена
                <button
                  class="btn btn-sm btn--sort"
                  [class.hide]="editId !== null"
                  (click)="sortProducts('price', 'asc')"
                >
                  <span class="material-icons icon--sort">
                    arrow_downward
                  </span>
                </button>
                <button
                  class="btn btn-sm btn--sort"
                  [class.hide]="editId !== null"
                  (click)="sortProducts('price', 'desc')"
                >
                  <span class="material-icons icon--sort"> arrow_upward </span>
                </button>
              </th>
              <th scope="col">
                Количество на складе
                <button
                  class="btn btn-sm btn--sort"
                  (click)="sortProducts('count', 'asc')"
                  [class.hide]="editId !== null"
                >
                  <span class="material-icons icon--sort">
                    arrow_downward
                  </span>
                </button>
                <button
                  class="btn btn-sm btn--sort"
                  (click)="sortProducts('count', 'desc')"
                  [class.hide]="editId !== null"
                >
                  <span class="material-icons icon--sort"> arrow_upward </span>
                </button>
              </th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let product of products
                  | filterByCategory: +selectCategory
                  | filterByAvailable: isAvailable
              "
            >
              <ng-container *ngIf="editId !== product.id; else editTemplate">
                <td>{{ product.title }}</td>
                <td>{{ product.category | category }}</td>
                <td>{{ product.weight | weight }}</td>
                <td>{{ product.price | currency: "RUB":"symbol-narrow" }}</td>
                <td class="d-flex">
                  <button
                    class="btn btn-sm btn-danger btn--change-count"
                    (click)="onReduceCount(product)"
                  >
                    <span class="material-icons"> delete </span>
                  </button>
                  {{ product.count }}
                  <button
                    class="btn btn-sm btn-success btn--change-count"
                    (click)="onRaiseCount(product)"
                  >
                    <span class="material-icons"> add </span>
                  </button>
                </td>
              </ng-container>
              <ng-template #editTemplate>
                <td>
                  <label for="title">Название товара</label>
                  <input
                    id="title"
                    formControlName="title"
                    placeholder="Название товара"
                    class="form-control-sm form-control"
                  />
                </td>
                <td>
                  <label for="articulation">Артикул</label>
                  <input
                    id="articulation"
                    formControlName="articulation"
                    placeholder="Артикул"
                    class="form-control-sm form-control"
                  />
                </td>
                <td>
                  <label for="price">Цена</label>
                  <input
                    id="price"
                    formControlName="price"
                    placeholder="Цена"
                    class="form-control-sm form-control"
                  />
                </td>
                <td>
                  <label for="madedBy">Производитель</label>
                  <input
                    id="madedBy"
                    formControlName="madedBy"
                    placeholder="Производитель"
                    class="form-control-sm form-control"
                  />
                </td>
                <td>
                  <label for="weight">Вес</label>
                  <input
                    id="weight"
                    formControlName="weight"
                    placeholder="Вес"
                    class="form-control-sm form-control"
                  />
                </td>
                <td>
                  <label for="count">Количество</label>
                  <input
                    id="count"
                    formControlName="count"
                    placeholder="Количество"
                    class="form-control-sm form-control"
                  />
                </td>
                <td>
                  <label for="category">Категория товара</label>
                  <select
                    class="custom-select custom-select-sm"
                    formControlName="category"
                    id="category"
                  >
                    <option [ngValue]="type.Furniture">Мебель</option>
                    <option [ngValue]="type.Technic">Техника</option>
                    <option [ngValue]="type.Books">Книги</option>
                    <option [ngValue]="type.Phones">Телефоны</option>
                  </select>
                </td>
                <td>
                  <button
                    class="btn btn-outline-danger btn-sm"
                    (click)="onDeleteProduct(product.id)"
                    type="button"
                  >
                    <span class="material-icons"> delete </span>
                  </button>
                </td>
              </ng-template>

              <td>
                <button
                  class="btn btn-warning btn-sm"
                  *ngIf="editId !== product.id"
                  type="button"
                  (click)="onEditProduct(product)"
                >
                  <span class="material-icons"> create </span>
                </button>
                <button
                  class="btn btn-success btn-sm"
                  *ngIf="editId === product.id"
                  (click)="onUpdateProduct()"
                  type="submit"
                  [disabled]="editFormGroup.invalid"
                >
                  <span class="material-icons"> check </span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <app-create-product
        (addedWorker)="onAddProduct($event)"
      ></app-create-product>
    </div>
  </div>
</ng-container>
